.wrapper-result {
  padding: 12px 0;
  box-sizing: border-box;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;

  // overflow: hidden;
  .item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    // overflow: hidden;
    &:hover {
      background-color: var(--ds-background-neutral-subtle-hovered, #f4f5f7);
    }
    img {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 2px;
    }
    .contents {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 75%;
      .title-result {
        font-size: 1.4rem;
        font-weight: 400;
        max-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .description {
        font-size: 1.1rem;
        color: var(--ds-text-subtlest, #6b778c);
      }
    }
  }
}
