.body {
  display: flex;
  .box-sidebar {
    position: relative;
    width: 260px;
    transition: width 250ms ease-in-out;
    height: 100%;
  }
  .box-sidebar-close {
    width: 10px;
  }

  .box-content {
    flex: 1;
  }
}
