.body {
  display: flex;
  .box-sidebar {
    position: relative;
    width: 260px;
    transition: width 250ms ease-in-out;
    height: 100%;
  }
  .box-sidebar-close {
    width: 10px;
  }

  .box-content {
    flex: 1;
  }
}

.box-modal {
  width: 584px;
  height: 288px;
}
.modal-add-user {
  .title {
    font-size: 2rem;
    font-weight: 300;
  }
  .box-add {
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    .search-user {
      flex: 1;
      border-radius: 2px;
      box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
      height: 40px;
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #388bff;
      }
      &::placeholder {
        font-size: 1.3rem;
      }
    }
  }
}

.list-user {
  height: 40px;
  font-size: 1.4rem;
  background: var(--ds-background-neutral, rgba(9, 30, 66, 0.04));
  &:hover {
    background: var(--ds-background-neutral-hovered, #091e4214);
    color: var(--ds-text, #4c5667);
    transition-duration: 0s, 0.15s;
  }
}
.button-share {
  height: 40px;
  font-size: 1.4rem;
  min-width: 70px;
  background-color: var(--ds-background-brand-bold, #0c66e4);
  border: none;
  box-shadow: none;
  color: var(--ds-text-inverse, #fff);
  &:hover {
    background-color: var(--ds-background-brand-bold-hovered, #05c);
    border: none;
    box-shadow: none;
    color: var(--ds-text-inverse, #fff);
    text-decoration: none;
  }
}
