.header {
  height: var(--height-header);
  background-color: #08479e;
  border: 1px solid #3065ae;
  &::-webkit-scrollbar {
    height: 7px; /* Độ rộng của thanh cuộn */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    width: 2px; /* Độ rộng của thanh cuộn */
    background-color: rgba(137, 137, 137, 0.5); /* Màu của thanh kéo */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px; /* Bo góc của thanh kéo */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Màu nền của thanh cuộn */
    border-radius: 10px; /* Màu nền của thanh cuộn */
  }
  .logo {
    width: 80px;
    height: auto;
    img {
      width: 100%;
    }
  }

  .box-menu {
    margin-left: 15px;
    .item {
      display: flex;
      align-items: center;
      .wrapper-itemChild {
        min-width: 150px;
      }
      .button {
        color: white;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 0.5rem;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: #225ca9;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
  .box-icon {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    &:hover {
      background-color: #225ca9;
    }
    .icon {
      width: 19px;
      height: 19px;
      color: white;
    }
    .box-bell {
      position: relative;
      .count-invitation {
        position: absolute;
        background-color: red;
        top: -7px;
        right: -7px;
        width: 16px;
        height: 16px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff;
        z-index: 99;
      }
      .bell {
        transform: rotate(25deg);
      }
    }
  }
  .box-avatar {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    img {
      width: 100%;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.CompSearch {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border: var(--ds-border-width, 1px) solid
    var(--dynamic-text-transparent, rgba(224, 224, 224, 0.25));
  transition: background-color 0.2s linear;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  input {
    color: white;
    font-size: 1.4rem;
    &::placeholder {
      color: white;
      padding-left: 2px;
    }
  }
}

.search-result {
  width: 280px;
}

.backgound-flexible {
  background-color: rgb(245, 245, 245);

  border: 1px solid rgb(206, 206, 206);
}

.dynamic-text {
  color: #525252 !important;
  &:hover {
    background-color: rgb(245, 245, 245) !important;
  }
}

.CompSearch-flexible {
  width: 200px;
  background-color: rgba(220, 220, 220, 0.2);
  border: var(--ds-border-width, 1px) solid
    var(--dynamic-text-transparent, rgba(162, 162, 162, 0.25));
  transition: background-color 0.2s linear;
  &:hover {
    background-color: rgba(220, 220, 220, 0.2) !important;
  }
  input {
    color: rgb(104, 104, 104);
    font-size: 1.4rem;
    &::placeholder {
      color: rgb(126, 126, 126);
      padding-left: 2px;
    }
  }
}

.icon-search {
  color: rgb(108, 108, 108) !important;
}

.username {
  color: #fff;
}
